@media only screen and (max-width: 1199px) {
	.m-t-md-0{
		margin-top:  0;
	}
	.m-t-md-5{
		margin-top:  5px;
	}
	.m-t-md-10{
		margin-top: 10px;
	}
	.m-t-md-15{
		margin-top: 15px;
	}
	.m-t-md-20{
		margin-top: 20px;
	}
	.m-t-md-25{
		margin-top: 25px;
	}
	.m-t-md-30{
		margin-top: 30px;
	}
	.m-t-md-35{
		margin-top: 35px;
	}
	.m-t-md-40{
		margin-top: 40px;
	}
	.m-t-md-45{
		margin-top: 45px;
	}
	.m-t-md-50{
		margin-top: 50px;
	}

	.m-r-md-0{
		margin-right:  0;
	}
	.m-r-md-5{
		margin-right:  5px;
	}
	.m-r-md-10{
		margin-right: 10px;
	}
	.m-r-md-15{
		margin-right: 15px;
	}
	.m-r-md-20{
		margin-right: 20px;
	}
	.m-r-md-25{
		margin-right: 25px;
	}
	.m-r-md-30{
		margin-right: 30px;
	}
	.m-r-md-35{
		margin-right: 35px;
	}
	.m-r-md-40{
		margin-right: 40px;
	}
	.m-r-md-45{
		margin-right: 45px;
	}
	.m-r-md-50{
		margin-right: 50px;
	}

	.m-b-md-0{
		margin-bottom:  0;
	}
	.m-b-md-5{
		margin-bottom:  5px;
	}
	.m-b-md-10{
		margin-bottom: 10px;
	}
	.m-b-md-15{
		margin-bottom: 15px;
	}
	.m-b-md-20{
		margin-bottom: 20px;
	}
	.m-b-md-25{
		margin-bottom: 25px;
	}
	.m-b-md-30{
		margin-bottom: 30px;
	}
	.m-b-md-35{
		margin-bottom: 35px;
	}
	.m-b-md-40{
		margin-bottom: 40px;
	}
	.m-b-md-45{
		margin-bottom: 45px;
	}
	.m-b-md-50{
		margin-bottom: 50px;
	}

	.m-l-md-0{
		margin-left:  0;
	}
	.m-l-md-5{
		margin-left:  5px;
	}
	.m-l-md-10{
		margin-left: 10px;
	}
	.m-l-md-15{
		margin-left: 15px;
	}
	.m-l-md-20{
		margin-left: 20px;
	}
	.m-l-md-25{
		margin-left: 25px;
	}
	.m-l-md-30{
		margin-left: 30px;
	}
	.m-l-md-35{
		margin-left: 35px;
	}
	.m-l-md-40{
		margin-left: 40px;
	}
	.m-l-md-45{
		margin-left: 45px;
	}
	.m-l-md-50{
		margin-left: 50px;
	}

	.p-t-md-0{
		padding-top:  0;
	}
	.p-t-md-5{
		padding-top:  5px;
	}
	.p-t-md-10{
		padding-top: 10px;
	}
	.p-t-md-15{
		padding-top: 15px;
	}
	.p-t-md-20{
		padding-top: 20px;
	}
	.p-t-md-25{
		padding-top: 25px;
	}
	.p-t-md-30{
		padding-top: 30px;
	}
	.p-t-md-35{
		padding-top: 35px;
	}
	.p-t-md-40{
		padding-top: 40px;
	}
	.p-t-md-45{
		padding-top: 45px;
	}
	.p-t-md-50{
		padding-top: 50px;
	}

	.p-r-md-0{
		padding-right:  0;
	}
	.p-r-md-5{
		padding-right:  5px;
	}
	.p-r-md-10{
		padding-right: 10px;
	}
	.p-r-md-15{
		padding-right: 15px;
	}
	.p-r-md-20{
		padding-right: 20px;
	}
	.p-r-md-25{
		padding-right: 25px;
	}
	.p-r-md-30{
		padding-right: 30px;
	}
	.p-r-md-35{
		padding-right: 35px;
	}
	.p-r-md-40{
		padding-right: 40px;
	}
	.p-r-md-45{
		padding-right: 45px;
	}
	.p-r-md-50{
		padding-right: 50px;
	}

	.p-b-md-0{
		padding-bottom:  0;
	}
	.p-b-md-5{
		padding-bottom:  5px;
	}
	.p-b-md-10{
		padding-bottom: 10px;
	}
	.p-b-md-15{
		padding-bottom: 15px;
	}
	.p-b-md-20{
		padding-bottom: 20px;
	}
	.p-b-md-25{
		padding-bottom: 25px;
	}
	.p-b-md-30{
		padding-bottom: 30px;
	}
	.p-b-md-35{
		padding-bottom: 35px;
	}
	.p-b-md-40{
		padding-bottom: 40px;
	}
	.p-b-md-45{
		padding-bottom: 45px;
	}
	.p-b-md-50{
		padding-bottom: 50px;
	}

	.p-l-md-0{
		padding-left:  0;
	}
	.p-l-md-5{
		padding-left:  5px;
	}
	.p-l-md-10{
		padding-left: 10px;
	}
	.p-l-md-15{
		padding-left: 15px;
	}
	.p-l-md-20{
		padding-left: 20px;
	}
	.p-l-md-25{
		padding-left: 25px;
	}
	.p-l-md-30{
		padding-left: 30px;
	}
	.p-l-md-35{
		padding-left: 35px;
	}
	.p-l-md-40{
		padding-left: 40px;
	}
	.p-l-md-45{
		padding-left: 45px;
	}
	.p-l-md-50{
		padding-left: 50px;
	}

	.no-margin-md{
		margin: 0 !important;
	}
	.no-padding-md{
		padding: 0 !important;
	}
	.pull-left-md{
		float: left !important;
	}
	.pull-right-md{
		float: left !important;
	}
	.no-float-md{
		float: none !important;
	}
	.in-md{
		display: block;
	}
	.out-md{
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.m-t-sm-0{
		margin-top:  0;
	}
	.m-t-sm-5{
		margin-top:  5px;
	}
	.m-t-sm-10{
		margin-top: 10px;
	}
	.m-t-sm-15{
		margin-top: 15px;
	}
	.m-t-sm-20{
		margin-top: 20px;
	}
	.m-t-sm-25{
		margin-top: 25px;
	}
	.m-t-sm-30{
		margin-top: 30px;
	}
	.m-t-sm-35{
		margin-top: 35px;
	}
	.m-t-sm-40{
		margin-top: 40px;
	}
	.m-t-sm-45{
		margin-top: 45px;
	}
	.m-t-sm-50{
		margin-top: 50px;
	}

	.m-r-sm-0{
		margin-right:  0;
	}
	.m-r-sm-5{
		margin-right:  5px;
	}
	.m-r-sm-10{
		margin-right: 10px;
	}
	.m-r-sm-15{
		margin-right: 15px;
	}
	.m-r-sm-20{
		margin-right: 20px;
	}
	.m-r-sm-25{
		margin-right: 25px;
	}
	.m-r-sm-30{
		margin-right: 30px;
	}
	.m-r-sm-35{
		margin-right: 35px;
	}
	.m-r-sm-40{
		margin-right: 40px;
	}
	.m-r-sm-45{
		margin-right: 45px;
	}
	.m-r-sm-50{
		margin-right: 50px;
	}

	.m-b-sm-0{
		margin-bottom:  0;
	}
	.m-b-sm-5{
		margin-bottom:  5px;
	}
	.m-b-sm-10{
		margin-bottom: 10px;
	}
	.m-b-sm-15{
		margin-bottom: 15px;
	}
	.m-b-sm-20{
		margin-bottom: 20px;
	}
	.m-b-sm-25{
		margin-bottom: 25px;
	}
	.m-b-sm-30{
		margin-bottom: 30px;
	}
	.m-b-sm-35{
		margin-bottom: 35px;
	}
	.m-b-sm-40{
		margin-bottom: 40px;
	}
	.m-b-sm-45{
		margin-bottom: 45px;
	}
	.m-b-sm-50{
		margin-bottom: 50px;
	}

	.m-l-sm-0{
		margin-left:  0;
	}
	.m-l-sm-5{
		margin-left:  5px;
	}
	.m-l-sm-10{
		margin-left: 10px;
	}
	.m-l-sm-15{
		margin-left: 15px;
	}
	.m-l-sm-20{
		margin-left: 20px;
	}
	.m-l-sm-25{
		margin-left: 25px;
	}
	.m-l-sm-30{
		margin-left: 30px;
	}
	.m-l-sm-35{
		margin-left: 35px;
	}
	.m-l-sm-40{
		margin-left: 40px;
	}
	.m-l-sm-45{
		margin-left: 45px;
	}
	.m-l-sm-50{
		margin-left: 50px;
	}

	.p-t-sm-0{
		padding-top:  0;
	}
	.p-t-sm-5{
		padding-top:  5px;
	}
	.p-t-sm-10{
		padding-top: 10px;
	}
	.p-t-sm-15{
		padding-top: 15px;
	}
	.p-t-sm-20{
		padding-top: 20px;
	}
	.p-t-sm-25{
		padding-top: 25px;
	}
	.p-t-sm-30{
		padding-top: 30px;
	}
	.p-t-sm-35{
		padding-top: 35px;
	}
	.p-t-sm-40{
		padding-top: 40px;
	}
	.p-t-sm-45{
		padding-top: 45px;
	}
	.p-t-sm-50{
		padding-top: 50px;
	}

	.p-r-sm-0{
		padding-right:  0;
	}
	.p-r-sm-5{
		padding-right:  5px;
	}
	.p-r-sm-10{
		padding-right: 10px;
	}
	.p-r-sm-15{
		padding-right: 15px;
	}
	.p-r-sm-20{
		padding-right: 20px;
	}
	.p-r-sm-25{
		padding-right: 25px;
	}
	.p-r-sm-30{
		padding-right: 30px;
	}
	.p-r-sm-35{
		padding-right: 35px;
	}
	.p-r-sm-40{
		padding-right: 40px;
	}
	.p-r-sm-45{
		padding-right: 45px;
	}
	.p-r-sm-50{
		padding-right: 50px;
	}

	.p-b-sm-0{
		padding-bottom:  0;
	}
	.p-b-sm-5{
		padding-bottom:  5px;
	}
	.p-b-sm-10{
		padding-bottom: 10px;
	}
	.p-b-sm-15{
		padding-bottom: 15px;
	}
	.p-b-sm-20{
		padding-bottom: 20px;
	}
	.p-b-sm-25{
		padding-bottom: 25px;
	}
	.p-b-sm-30{
		padding-bottom: 30px;
	}
	.p-b-sm-35{
		padding-bottom: 35px;
	}
	.p-b-sm-40{
		padding-bottom: 40px;
	}
	.p-b-sm-45{
		padding-bottom: 45px;
	}
	.p-b-sm-50{
		padding-bottom: 50px;
	}

	.p-l-sm-0{
		padding-left:  0;
	}
	.p-l-sm-5{
		padding-left:  5px;
	}
	.p-l-sm-10{
		padding-left: 10px;
	}
	.p-l-sm-15{
		padding-left: 15px;
	}
	.p-l-sm-20{
		padding-left: 20px;
	}
	.p-l-sm-25{
		padding-left: 25px;
	}
	.p-l-sm-30{
		padding-left: 30px;
	}
	.p-l-sm-35{
		padding-left: 35px;
	}
	.p-l-sm-40{
		padding-left: 40px;
	}
	.p-l-sm-45{
		padding-left: 45px;
	}
	.p-l-sm-50{
		padding-left: 50px;
	}

	.no-margin-sm{
		margin: 0 !important;
	}
	.no-padding-sm{
		padding: 0 !important;
	}
	.pull-left-sm{
		float: left !important;
	}
	.pull-right-sm{
		float: left !important;
	}
	.no-float-sm{
		float: none !important;
	}
	.in-sm{
		display: block;
	}
	.out-sm{
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.m-t-xs-0{
		margin-top:  0;
	}
	.m-t-xs-5{
		margin-top:  5px;
	}
	.m-t-xs-10{
		margin-top: 10px;
	}
	.m-t-xs-15{
		margin-top: 15px;
	}
	.m-t-xs-20{
		margin-top: 20px;
	}
	.m-t-xs-25{
		margin-top: 25px;
	}
	.m-t-xs-30{
		margin-top: 30px;
	}
	.m-t-xs-35{
		margin-top: 35px;
	}
	.m-t-xs-40{
		margin-top: 40px;
	}
	.m-t-xs-45{
		margin-top: 45px;
	}
	.m-t-xs-50{
		margin-top: 50px;
	}

	.m-r-xs-0{
		margin-right:  0;
	}
	.m-r-xs-5{
		margin-right:  5px;
	}
	.m-r-xs-10{
		margin-right: 10px;
	}
	.m-r-xs-15{
		margin-right: 15px;
	}
	.m-r-xs-20{
		margin-right: 20px;
	}
	.m-r-xs-25{
		margin-right: 25px;
	}
	.m-r-xs-30{
		margin-right: 30px;
	}
	.m-r-xs-35{
		margin-right: 35px;
	}
	.m-r-xs-40{
		margin-right: 40px;
	}
	.m-r-xs-45{
		margin-right: 45px;
	}
	.m-r-xs-50{
		margin-right: 50px;
	}

	.m-b-xs-0{
		margin-bottom:  0;
	}
	.m-b-xs-5{
		margin-bottom:  5px;
	}
	.m-b-xs-10{
		margin-bottom: 10px;
	}
	.m-b-xs-15{
		margin-bottom: 15px;
	}
	.m-b-xs-20{
		margin-bottom: 20px;
	}
	.m-b-xs-25{
		margin-bottom: 25px;
	}
	.m-b-xs-30{
		margin-bottom: 30px;
	}
	.m-b-xs-35{
		margin-bottom: 35px;
	}
	.m-b-xs-40{
		margin-bottom: 40px;
	}
	.m-b-xs-45{
		margin-bottom: 45px;
	}
	.m-b-xs-50{
		margin-bottom: 50px;
	}

	.m-l-xs-0{
		margin-left:  0;
	}
	.m-l-xs-5{
		margin-left:  5px;
	}
	.m-l-xs-10{
		margin-left: 10px;
	}
	.m-l-xs-15{
		margin-left: 15px;
	}
	.m-l-xs-20{
		margin-left: 20px;
	}
	.m-l-xs-25{
		margin-left: 25px;
	}
	.m-l-xs-30{
		margin-left: 30px;
	}
	.m-l-xs-35{
		margin-left: 35px;
	}
	.m-l-xs-40{
		margin-left: 40px;
	}
	.m-l-xs-45{
		margin-left: 45px;
	}
	.m-l-xs-50{
		margin-left: 50px;
	}

	.p-t-xs-0{
		padding-top:  0;
	}
	.p-t-xs-5{
		padding-top:  5px;
	}
	.p-t-xs-10{
		padding-top: 10px;
	}
	.p-t-xs-15{
		padding-top: 15px;
	}
	.p-t-xs-20{
		padding-top: 20px;
	}
	.p-t-xs-25{
		padding-top: 25px;
	}
	.p-t-xs-30{
		padding-top: 30px;
	}
	.p-t-xs-35{
		padding-top: 35px;
	}
	.p-t-xs-40{
		padding-top: 40px;
	}
	.p-t-xs-45{
		padding-top: 45px;
	}
	.p-t-xs-50{
		padding-top: 50px;
	}

	.p-r-xs-0{
		padding-right:  0;
	}
	.p-r-xs-5{
		padding-right:  5px;
	}
	.p-r-xs-10{
		padding-right: 10px;
	}
	.p-r-xs-15{
		padding-right: 15px;
	}
	.p-r-xs-20{
		padding-right: 20px;
	}
	.p-r-xs-25{
		padding-right: 25px;
	}
	.p-r-xs-30{
		padding-right: 30px;
	}
	.p-r-xs-35{
		padding-right: 35px;
	}
	.p-r-xs-40{
		padding-right: 40px;
	}
	.p-r-xs-45{
		padding-right: 45px;
	}
	.p-r-xs-50{
		padding-right: 50px;
	}

	.p-b-xs-0{
		padding-bottom:  0;
	}
	.p-b-xs-5{
		padding-bottom:  5px;
	}
	.p-b-xs-10{
		padding-bottom: 10px;
	}
	.p-b-xs-15{
		padding-bottom: 15px;
	}
	.p-b-xs-20{
		padding-bottom: 20px;
	}
	.p-b-xs-25{
		padding-bottom: 25px;
	}
	.p-b-xs-30{
		padding-bottom: 30px;
	}
	.p-b-xs-35{
		padding-bottom: 35px;
	}
	.p-b-xs-40{
		padding-bottom: 40px;
	}
	.p-b-xs-45{
		padding-bottom: 45px;
	}
	.p-b-xs-50{
		padding-bottom: 50px;
	}

	.p-l-xs-0{
		padding-left:  0;
	}
	.p-l-xs-5{
		padding-left:  5px;
	}
	.p-l-xs-10{
		padding-left: 10px;
	}
	.p-l-xs-15{
		padding-left: 15px;
	}
	.p-l-xs-20{
		padding-left: 20px;
	}
	.p-l-xs-25{
		padding-left: 25px;
	}
	.p-l-xs-30{
		padding-left: 30px;
	}
	.p-l-xs-35{
		padding-left: 35px;
	}
	.p-l-xs-40{
		padding-left: 40px;
	}
	.p-l-xs-45{
		padding-left: 45px;
	}
	.p-l-xs-50{
		padding-left: 50px;
	}

	.no-margin-xs{
		margin: 0 !important;
	}
	.no-padding-xs{
		padding: 0 !important;
	}
	.pull-left-xs{
		float: left !important;
	}
	.pull-right-xs{
		float: left !important;
	}
	.no-float-xs{
		float: none !important;
	}
	.in-xs{
		display: block;
	}
	.out-xs{
		display: none;
	}
}

@media only screen and (max-width: 560px) {
	.m-t-xxs-0{
		margin-top:  0;
	}
	.m-t-xxs-5{
		margin-top:  5px;
	}
	.m-t-xxs-10{
		margin-top: 10px;
	}
	.m-t-xxs-15{
		margin-top: 15px;
	}
	.m-t-xxs-20{
		margin-top: 20px;
	}
	.m-t-xxs-25{
		margin-top: 25px;
	}
	.m-t-xxs-30{
		margin-top: 30px;
	}
	.m-t-xxs-35{
		margin-top: 35px;
	}
	.m-t-xxs-40{
		margin-top: 40px;
	}
	.m-t-xxs-45{
		margin-top: 45px;
	}
	.m-t-xxs-50{
		margin-top: 50px;
	}

	.m-r-xxs-0{
		margin-right:  0;
	}
	.m-r-xxs-5{
		margin-right:  5px;
	}
	.m-r-xxs-10{
		margin-right: 10px;
	}
	.m-r-xxs-15{
		margin-right: 15px;
	}
	.m-r-xxs-20{
		margin-right: 20px;
	}
	.m-r-xxs-25{
		margin-right: 25px;
	}
	.m-r-xxs-30{
		margin-right: 30px;
	}
	.m-r-xxs-35{
		margin-right: 35px;
	}
	.m-r-xxs-40{
		margin-right: 40px;
	}
	.m-r-xxs-45{
		margin-right: 45px;
	}
	.m-r-xxs-50{
		margin-right: 50px;
	}

	.m-b-xxs-0{
		margin-bottom:  0;
	}
	.m-b-xxs-5{
		margin-bottom:  5px;
	}
	.m-b-xxs-10{
		margin-bottom: 10px;
	}
	.m-b-xxs-15{
		margin-bottom: 15px;
	}
	.m-b-xxs-20{
		margin-bottom: 20px;
	}
	.m-b-xxs-25{
		margin-bottom: 25px;
	}
	.m-b-xxs-30{
		margin-bottom: 30px;
	}
	.m-b-xxs-35{
		margin-bottom: 35px;
	}
	.m-b-xxs-40{
		margin-bottom: 40px;
	}
	.m-b-xxs-45{
		margin-bottom: 45px;
	}
	.m-b-xxs-50{
		margin-bottom: 50px;
	}

	.m-l-xxs-0{
		margin-left:  0;
	}
	.m-l-xxs-5{
		margin-left:  5px;
	}
	.m-l-xxs-10{
		margin-left: 10px;
	}
	.m-l-xxs-15{
		margin-left: 15px;
	}
	.m-l-xxs-20{
		margin-left: 20px;
	}
	.m-l-xxs-25{
		margin-left: 25px;
	}
	.m-l-xxs-30{
		margin-left: 30px;
	}
	.m-l-xxs-35{
		margin-left: 35px;
	}
	.m-l-xxs-40{
		margin-left: 40px;
	}
	.m-l-xxs-45{
		margin-left: 45px;
	}
	.m-l-xxs-50{
		margin-left: 50px;
	}

	.p-t-xxs-0{
		padding-top:  0;
	}
	.p-t-xxs-5{
		padding-top:  5px;
	}
	.p-t-xxs-10{
		padding-top: 10px;
	}
	.p-t-xxs-15{
		padding-top: 15px;
	}
	.p-t-xxs-20{
		padding-top: 20px;
	}
	.p-t-xxs-25{
		padding-top: 25px;
	}
	.p-t-xxs-30{
		padding-top: 30px;
	}
	.p-t-xxs-35{
		padding-top: 35px;
	}
	.p-t-xxs-40{
		padding-top: 40px;
	}
	.p-t-xxs-45{
		padding-top: 45px;
	}
	.p-t-xxs-50{
		padding-top: 50px;
	}

	.p-r-xxs-0{
		padding-right:  0;
	}
	.p-r-xxs-5{
		padding-right:  5px;
	}
	.p-r-xxs-10{
		padding-right: 10px;
	}
	.p-r-xxs-15{
		padding-right: 15px;
	}
	.p-r-xxs-20{
		padding-right: 20px;
	}
	.p-r-xxs-25{
		padding-right: 25px;
	}
	.p-r-xxs-30{
		padding-right: 30px;
	}
	.p-r-xxs-35{
		padding-right: 35px;
	}
	.p-r-xxs-40{
		padding-right: 40px;
	}
	.p-r-xxs-45{
		padding-right: 45px;
	}
	.p-r-xxs-50{
		padding-right: 50px;
	}

	.p-b-xxs-0{
		padding-bottom:  0;
	}
	.p-b-xxs-5{
		padding-bottom:  5px;
	}
	.p-b-xxs-10{
		padding-bottom: 10px;
	}
	.p-b-xxs-15{
		padding-bottom: 15px;
	}
	.p-b-xxs-20{
		padding-bottom: 20px;
	}
	.p-b-xxs-25{
		padding-bottom: 25px;
	}
	.p-b-xxs-30{
		padding-bottom: 30px;
	}
	.p-b-xxs-35{
		padding-bottom: 35px;
	}
	.p-b-xxs-40{
		padding-bottom: 40px;
	}
	.p-b-xxs-45{
		padding-bottom: 45px;
	}
	.p-b-xxs-50{
		padding-bottom: 50px;
	}

	.p-l-xxs-0{
		padding-left:  0;
	}
	.p-l-xxs-5{
		padding-left:  5px;
	}
	.p-l-xxs-10{
		padding-left: 10px;
	}
	.p-l-xxs-15{
		padding-left: 15px;
	}
	.p-l-xxs-20{
		padding-left: 20px;
	}
	.p-l-xxs-25{
		padding-left: 25px;
	}
	.p-l-xxs-30{
		padding-left: 30px;
	}
	.p-l-xxs-35{
		padding-left: 35px;
	}
	.p-l-xxs-40{
		padding-left: 40px;
	}
	.p-l-xxs-45{
		padding-left: 45px;
	}
	.p-l-xxs-50{
		padding-left: 50px;
	}

	.no-margin-xxs{
		margin: 0 !important;
	}
	.no-padding-xxs{
		padding: 0 !important;
	}
	.pull-left-xxs{
		float: left !important;
	}
	.pull-right-xxs{
		float: left !important;
	}
	.no-float-xxs{
		float: none !important;
	}
	.in-xxs{
		display: block;
	}
	.out-xxs{
		display: none;
	}
}
